@tailwind base;

@tailwind components;

@tailwind utilities;

body {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 16px;
  background-color: hsl(210, 60%, 98%);
}

* {
  transition: 0.2s ease;
}
